

spring:
  application:
    name: UberLocationService

server:
  port: 7777

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true


#spring.data.redis.host=localhost
#
#spring.redis.port=6379
